ul.right-contents.mypage{
  width: 100%;
  height: 100%;
  background: white;
}
section.mypage-detail{
  height: 100%;
  width: 100%;
}
form.mypage-info-form{
  width: 100%;
  height: 100%;
}
form.mypage-info-form > div.info-row{
  width: 100%;
  height: auto;
  background: rgb(245, 179, 1);
}
div.info-row > div.info-title {
  float:left;
  width: 20%;
  padding: 20px;
}
div.info-row > div.info-contents {
  float:left;
  width: 80%;
  padding: 20px;
}
div.info-row input{
  background: rgb(242, 220, 227);
}
div.info-row > div.info-contents > input[type=text],
div.info-row > div.info-contents > input[type=password]{
  width: 200px;
  padding: 0;
  margin: 0;
  border: 0;
  text-align: center;
}
div.info-row > div.info-contents > input[type=button]{
  width: 100px;
}

/**/
span.valid{
  color:rgb(0, 255, 110);
  font-weight: bold;
}
span.invalid{
  color:rgb(255, 0, 0);
  font-weight: bold;
}
